annotated-types
anyio
asttokens
async-generator
attrs
Babel
backcall
bcrypt
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
ecdsa
exceptiongroup
executing
fastapi
gunicorn
h11
idna
iniconfig
ipykernel
ipython
jedi
jose
jupyter_client
jupyter_core
label
matplotlib-inline
nest-asyncio
outcome
packaging
parso
passlib
pickleshare
Pillow
platformdirs
pluggy
prompt-toolkit
psutil
pure-eval
py
pyasn1
pycparser
pycryptodome
pydantic
pydantic_core
Pygments
PySocks
pytest
pytest-html
pytest-html-reporter
pytest-metadata
python-dateutil
python-dotenv
python-jose
python-multipart
pyzmq
requests
rsa
selenium
self
six
sniffio
sortedcontainers
stack-data
starlette
tornado
tqdm
traitlets
trio
trio-websocket
typing_extensions
urllib3
uvicorn
wcwidth
webdriver-manager
wsproto
